{% extends 'base.html' %}
{% load placeholders %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Update Account Details:</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in update_form %}
                <p>
                    {{field|placeholder:field.name}}
        
                    {% if field.help_text %}
                        <small style="color: red;">{{field.help_text}}</small>
                    {% endif %}
    
                    {% for error in field.errors %}
                        <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </p>
    
            {% endfor %}
            {% if update_form.non_field_errors %}
                <div style="color: red;">
                    <p>{{update_form.non_field_errors}}</p>
                </div>
            {% endif %}
            <input type="submit" value="Save changes" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}