<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% include 'snippets/header.html' %}
</head>
<body>
    <div style="margin-bottom: 20px;margin-top: 40px;text-align: center;">
        {% if request.user.is_authenticated %}
            <a style="background-color: green;padding: 15px;display: inline;border-radius: 200px;border: none;" href="{% url 'home_page' %}">
                <button style="background-color: green;text-decoration: none;border: none;color: #fff;">Home</button>
            </a>
            <a style="background-color: green;padding: 15px;display: inline;border-radius: 200px;border: none;" href="{% url 'logout' %}">
                <button style="background-color: green;text-decoration: none;border: none;color: #fff;">Logout</button>
            </a>
            <a style="background-color: green;padding: 15px;display: inline;border-radius: 200px;border: none;" href="{% url 'update' %}">
                <button style="background-color: green;text-decoration: none;border: none;color: #fff;">Update Account Details</button>
            </a>
            <p style="margin-top: 15px;">Hello, <b>{{ request.user.username|title }}</b>.</p>
        {% else %}
            <a style="background-color: green;padding: 15px;display: inline;border-radius: 200px;border: none;" href="{% url 'home_page' %}">
                <button style="background-color: green;text-decoration: none;border: none;color: #fff;">Home</button>
            </a>
            <a style="background-color: green;padding: 15px;display: inline;border-radius: 200px;border: none;" href="{% url 'login' %}">
                <button style="background-color: green;text-decoration: none;border: none;color: #fff;">Login</button>
            </a>
            <a style="background-color: green;padding: 15px;display: inline;border-radius: 200px;border: none;" href="{% url 'register' %}">
                <button style="background-color: green;text-decoration: none;border: none;color: #fff;" >
                    Register Here
                </button>
            </a>
        {% endif %}
    </div>
    <hr>
    {% block content %}
    {% endblock content %}



</body>

<footer style="text-align: center;">
    {% include 'snippets/footer.html' %}
</footer>
</html>